In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os,sys
os.environ['KULOKO_DIR'] = '/Users/macico/Dropbox/btc/kuloko'
os.environ['COMMON_DIR'] = os.path.join(os.environ['KULOKO_DIR'], "geco_commons")
os.environ['MONGO_DIR'] = os.path.join(os.environ['COMMON_DIR'] ,"mongodb")
os.environ['LOGDIR'] = os.path.join(os.environ['KULOKO_DIR'], "log")
sys.path.append(os.path.join(os.environ['KULOKO_DIR'],"items" ))
sys.path.append(os.path.join(os.environ['KULOKO_DIR'],"geco_commons" ))

In [3]:
import private_api
margin = private_api.Margin()

In [4]:
rst = margin.fetch('json')

In [5]:
rst

{'actualProfitLoss': 306142.0,
 'availableAmount': 306142.0,
 'margin': 0.0,
 'marginCallStatus': 'NORMAL',
 'profitLoss': 0.0,
 '_id': ObjectId('61729c86644833f50dbba674')}

In [6]:
margin.fetch('dataframe')

actualProfitLoss    306142
availableAmount     306142
margin                   0
marginCallStatus    NORMAL
profitLoss               0
dtype: object

In [7]:
assets = private_api.Assets()

In [8]:
assets.fetch('json')

{'JPY': {'amount': 306142.0,
  'available': 306142.0,
  'conversionRate': 1.0,
  'symbol': 'JPY'},
 'BTC': {'amount': 0.3058,
  'available': 0.3058,
  'conversionRate': 7112139.0,
  'symbol': 'BTC'},
 'ETH': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 462017.0,
  'symbol': 'ETH'},
 'BCH': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 70038.0,
  'symbol': 'BCH'},
 'LTC': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 21992.0,
  'symbol': 'LTC'},
 'XRP': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 123.194,
  'symbol': 'XRP'},
 'XEM': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 19.275,
  'symbol': 'XEM'},
 'XLM': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 41.998,
  'symbol': 'XLM'},
 'BAT': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 78.772,
  'symbol': 'BAT'},
 'OMG': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 1616.266,
  'symbol': 'OMG'},
 'XTZ': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 740.154,
  'symbol': 'XTZ'},
 'QTUM': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 1453.97,
  'symbol': 'QTUM'},
 'ENJ': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 204.652,
  'symbol': 'ENJ'},
 'DOT': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 4916.0,
  'symbol': 'DOT'},
 'ATOM': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 3792.0,
  'symbol': 'ATOM'},
 'XYM': {'amount': 0.0,
  'available': 0.0,
  'conversionRate': 39.938,
  'symbol': 'XYM'}}

In [9]:
assets.fetch('dataframe')

         amount    available  conversionRate symbol
0   306142.0000  306142.0000           1.000    JPY
1        0.3058       0.3058     7112184.000    BTC
2        0.0000       0.0000      462010.000    ETH
3        0.0000       0.0000       70037.000    BCH
4        0.0000       0.0000       21992.000    LTC
5        0.0000       0.0000         123.194    XRP
6        0.0000       0.0000          19.275    XEM
7        0.0000       0.0000          41.994    XLM
8        0.0000       0.0000          78.772    BAT
9        0.0000       0.0000        1616.474    OMG
10       0.0000       0.0000         740.161    XTZ
11       0.0000       0.0000        1453.942   QTUM
12       0.0000       0.0000         204.622    ENJ
13       0.0000       0.0000        4916.000    DOT
14       0.0000       0.0000        3792.000   ATOM
15       0.0000       0.0000          39.940    XYM

In [12]:
orders = private_api.Orders()

In [13]:
orders.fetch_sym("BTC",'json')

[{'executedSize': 0.0,
  'executionType': 'LIMIT',
  'losscutPrice': 0.0,
  'orderId': 1926135059,
  'orderType': 'NORMAL',
  'price': 7215040.0,
  'rootOrderId': 1926135059,
  'settleType': 'OPEN',
  'side': 'BUY',
  'size': 0.04,
  'status': 'ORDERED',
  'symbol': 'BTC',
  'timeInForce': 'FAS',
  'timestamp': '20211022021257644000'}]

In [15]:
orders.fetch_sym("BTC",'dataframe')

,executedSize,executionType,losscutPrice,orderId,orderType,price,rootOrderId,settleType,side,size,status,symbol,timeInForce,timestamp
0,0.0,LIMIT,0.0,1926135059,NORMAL,7215040.0,1926135059,OPEN,BUY,0.04,ORDERED,BTC,FAS,2021-10-22 02:12:57.644000+00:00

In [16]:
orders.fetch_id(1926135059	, 'json')

[{'executedSize': 0.0,
  'executionType': 'LIMIT',
  'losscutPrice': 0.0,
  'orderId': 1926135059,
  'orderType': 'NORMAL',
  'price': 7215040.0,
  'rootOrderId': 1926135059,
  'settleType': 'OPEN',
  'side': 'BUY',
  'size': 0.04,
  'status': 'ORDERED',
  'symbol': 'BTC',
  'timeInForce': 'FAS',
  'timestamp': '20211022021257644000'}]

In [73]:
orders.fetch_id(742371314, 'dataframe')

,cancelType,executedSize,executionType,losscutPrice,orderId,orderType,price,rootOrderId,settleType,side,size,status,symbol,timeInForce,timestamp
0,USER,0.0,LIMIT,0.0,742371314,NORMAL,611000.0,742371314,OPEN,BUY,0.0083,CANCELED,BTC,FAS,2020-03-19 02:10:27.345000+00:00

In [19]:
executions  = private_api.Executions()

In [20]:
executions.fetch_latest()

[{'executionId': 425050364,
  'fee': -8.0,
  'lossGain': 0.0,
  'orderId': 1926135059,
  'price': 7215040.0,
  'settleType': 'OPEN',
  'side': 'BUY',
  'size': 0.0118,
  'symbol': 'BTC',
  'timestamp': '20211022021542077000'},
 {'executionId': 425050359,
  'fee': -20.0,
  'lossGain': 0.0,
  'orderId': 1926135059,
  'price': 7215040.0,
  'settleType': 'OPEN',
  'side': 'BUY',
  'size': 0.0282,
  'symbol': 'BTC',
  'timestamp': '20211022021541330000'}]

In [21]:
executions.fetch_latest(None,"dataframe")

,executionId,fee,lossGain,orderId,price,settleType,side,size,symbol,timestamp
0,425050364,-8.0,0.0,1926135059,7215040.0,OPEN,BUY,0.0118,BTC,2021-10-22 02:15:42.077000+00:00
1,425050359,-20.0,0.0,1926135059,7215040.0,OPEN,BUY,0.0282,BTC,2021-10-22 02:15:41.330000+00:00

In [ ]:
order.

In [37]:
order = private_api.Order()

In [38]:
reqBody = {
    "symbol": "BTC",
    "side": "BUY",
    "executionType": "LIMIT",
    "timeInForce": "SOK",
    "price": 621000,
    "losscutPrice":None,
    "size": 0.001,
    "cacnelBefore":False
}

In [39]:
res = order.entry(reqBody)

In [40]:
res

In [ ]:
orderId = res['data']
reqBody = {
    "orderId": orderId,
    "price": 1094001,
    "losscutPrice": None
}

In [ ]:
res2 = order.do_change(**reqBody)

In [33]:
reqBody = {
    "orderId": orderId
}

In [34]:
res3 = order.do_cancel(**reqBody)