In [149]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [150]:
import requests
import json
import urllib.parse
import logging
import logging.config

import pandas as pd
import numpy as np

logging.config.fileConfig('./ini/logconfig.ini')
logger = logging.getLogger("KULOKO")

In [151]:
import src.api_handler as api

In [152]:
snapshot = {}
sym = 'BTC'
depth=5
orderbook = api.Orderbook(sym)
orderbook.depth =depth

{'endpoint': 'https://api.coin.z.com', 'tick': '/public/v1/ticker', 'orderbooks': '/public/v1/orderbooks', 'trade': '/public/v1/trades'}

In [153]:
df_snapshot = orderbook.fetch(return_type='dataframe')
df_snapshot['data']['asks']

       price    size
0  1197415.0  0.6000
1  1197420.0  0.2000
2  1197500.0  0.1069
3  1197695.0  0.1991
4  1197700.0  2.5000

In [154]:
json_orderbook = orderbook.fetch(return_type='raw')
json_orderbook

{'status': 0,
 'data': {'asks': [{'price': '1197410', 'size': '0.6'},
   {'price': '1197415', 'size': '0.2'},
   {'price': '1197500', 'size': '0.1069'},
   {'price': '1197695', 'size': '0.1991'},
   {'price': '1197700', 'size': '2.5'}],
  'bids': [{'price': '1197000', 'size': '0.01'},
   {'price': '1196899', 'size': '0.0084'},
   {'price': '1196361', 'size': '0.3'},
   {'price': '1196360', 'size': '0.4'},
   {'price': '1196350', 'size': '0.1'}],
  'symbol': 'BTC'},
 'responsetime': '2020-10-16T13:34:01.457Z'}

In [155]:

seq_orderbook = orderbook.fetch(return_type='seq')
seq_orderbook

[datetime.datetime(2020, 10, 16, 22, 34, 4, 550000, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400))),
 1197000.0,
 0.01,
 1196899.0,
 0.0084,
 1196367.0,
 0.3,
 1196365.0,
 0.2,
 1196320.0,
 0.1,
 1197000.0,
 0.01,
 1196899.0,
 0.0084,
 1196367.0,
 0.3,
 1196365.0,
 0.2,
 1196320.0,
 0.1]

In [156]:
json_orderbook = orderbook.fetch(return_type='json')
json_orderbook

{'time': datetime.datetime(2020, 10, 16, 22, 34, 9, 589000, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400))),
 'bids0': 1197000.0,
 'bids0_size': 0.01,
 'bids1': 1196899.0,
 'bids1_size': 0.0084,
 'bids2': 1196390.0,
 'bids2_size': 0.6,
 'bids3': 1196387.0,
 'bids3_size': 0.3,
 'bids4': 1196000.0,
 'bids4_size': 0.01,
 'asks0': 1197000.0,
 'asks0_size': 0.01,
 'asks1': 1196899.0,
 'asks1_size': 0.0084,
 'asks2': 1196390.0,
 'asks2_size': 0.6,
 'asks3': 1196387.0,
 'asks3_size': 0.3,
 'asks4': 1196000.0,
 'asks4_size': 0.01}

In [157]:
json_orderbook['time'].astimezone(timezone('Asia/Tokyo'))

datetime.datetime(2020, 10, 16, 22, 34, 9, 589000, tzinfo=<DstTzInfo 'Asia/Tokyo' JST+9:00:00 STD>)

In [158]:
tick = api.Ticks(sym)

{'endpoint': 'https://api.coin.z.com', 'tick': '/public/v1/ticker', 'orderbooks': '/public/v1/orderbooks', 'trade': '/public/v1/trades'}

In [159]:
data = tick.fetch(return_type='json')
data

{'ask': 1197495.0,
 'bid': 1197000.0,
 'high': 1216600.0,
 'last': 1198085.0,
 'low': 1182000.0,
 'volume': 415.1468,
 'timestamp': datetime.datetime(2020, 10, 16, 22, 34, 14, 281000, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400)))}

In [160]:
data = tick.fetch(return_type='raw')
data

{'status': 0,
 'data': [{'ask': '1197495',
   'bid': '1197000',
   'high': '1216600',
   'last': '1198085',
   'low': '1182000',
   'symbol': 'BTC',
   'timestamp': '2020-10-16T13:34:14.281Z',
   'volume': '415.1468'}],
 'responsetime': '2020-10-16T13:34:14.743Z'}

In [161]:
trade = api.Trade(sym)

{'endpoint': 'https://api.coin.z.com', 'tick': '/public/v1/ticker', 'orderbooks': '/public/v1/orderbooks', 'trade': '/public/v1/trades'}

In [162]:
data, since_time = trade.fetch("dataframe")

In [163]:
data2, _ = trade.fetch("dataframe",since_time)

In [164]:
data

        price  side    size                        timestamp
0   1198085.0  SELL  0.0010 2020-10-16 22:31:01.101000+09:00
1   1198085.0   BUY  0.0010 2020-10-16 22:31:01.101000+09:00
2   1198450.0   BUY  0.0545 2020-10-16 22:30:10.890000+09:00
3   1198450.0  SELL  0.0545 2020-10-16 22:30:10.890000+09:00
4   1198450.0   BUY  0.0500 2020-10-16 22:30:06.452000+09:00
..        ...   ...     ...                              ...
93  1199790.0   BUY  0.0008 2020-10-16 21:58:35.228000+09:00
94  1199950.0  SELL  0.0019 2020-10-16 21:58:26.333000+09:00
95  1199950.0   BUY  0.0019 2020-10-16 21:58:26.333000+09:00
96  1200165.0  SELL  0.0020 2020-10-16 21:58:14.814000+09:00
97  1200165.0   BUY  0.0020 2020-10-16 21:58:14.814000+09:00

[98 rows x 4 columns]

In [165]:
data2

Empty DataFrame
Columns: []
Index: []

In [166]:
# NOT !pip install websocket
# !pip install websocket-client